* {
    padding: 0;
    margin: 0;
}

body{
    background: #6f835e;
}


/* Navigation Section */

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo h2 {
    color: #b26a3d;
    margin-top: 2rem;
}
.logo p {
    color: #2e2e2e;
    text-align: center;
    font-family: "Georgia", serif;
    font-style: italic;
    font-weight: 300;
}
.nav-bar ul, li{
   display: flex;
   list-style: none;
   margin-top:0.5rem;
   margin-bottom: 1rem;
   
   gap: 15px;
}
.nav-bar li a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.nav-bar li a:hover{
    color: white;
    background-color: #b26a3d;
    padding: 5px 5px;
    border-radius: 5px;
}
/* End Navigation Section */


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(0,0,0,0.5) url(./image/cover.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 40vh;
    margin-top: 10rem;
}
.hero h2{
    color: #ffffff;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero p{
    color: #ffffff;
    font-size: 1.2rem;
}
.hero h2, p {
    text-align: left;
    padding-left: 1.5rem;
}
.butn {
    margin-top: 2rem;
}
.cta {
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 25px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
}
.cta:hover {
    background-color: #b26a3d;
}
.btn {
    border: 1px solid white;
    padding: 10px 25px;
    color: white;
    background-color: #b26a3d;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    opacity: 0.3;
}
/*End Hero Section */

/* what we made section */
.made {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.made h2 {
    font-size: 1.9rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.made p {
    color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
}
.img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-inline: 0.5rem;
    margin-bottom: 1rem;
}
.img img {
    height: 240px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}
.icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 1rem;
}
.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9ccb9;
    border-radius: 5px;
    padding: 10px;
}
.icon-box i {
    color: #b26a3d;
    font-size: 30px;
}
.icon-text {
    font-size: 18px;
     color: #b26a3d;
}
/*End what we made section */