* {
    padding: 0;
    margin: 0;
}

body{
     background: white;
    /* background: #6f835e; */
}


/* Navigation Section */

.navigation {
    display: flex;
    flex-direction: row;
      background: rgb(32, 32, 32);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -150px; /* imefichwa nje */
    top: 0;
    background: rgb(32, 32, 32);
    min-height: 350px;
    width: 150px;
    z-index: 2;
    transition: right 0.5s ease;
    border-radius: 5px;
    padding-top: 60px;
}

/* Open menu icon */
#openMenu {
    color: #b26a3d;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 28px;
}

/* Close menu icon */
#closeMenu {
    color: #b26a3d;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 28px;
}

/* Nav list */
.nav-bar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Nav links */
.nav-bar li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s;
}

/* Hover effect */
.nav-bar li a:hover {
    background-color: #b26a3d;
    border-radius: 5px;
}

/* End Navigation Section */


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(0,0,0,0.6) url(./image/cover3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 40vh;
    margin-top: 6rem;
}
.hero h2{
    color: #ddd;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero p{
    color: #ffffff;
    font-size: 1.2rem;
}
.hero h2, p {
    text-align: left;
    padding-left: 1.5rem;
}
.butn {
    margin-top: 2rem;
}
.cta {
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 25px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
}
.cta:hover {
    background-color: #b26a3d;
}
.btn {
    border: 1px solid white;
    padding: 10px 25px;
    color: white;
    background-color: #b26a3d;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    opacity: 0.3;
}
/*End Hero Section */

/* what we made section */
.made {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.made h2 {
    font-size: 1.9rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.made p {
    color: black;
    text-align: center;
    font-size: 1.1rem;
}
.img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-inline: 0.5rem;
    margin-bottom: 1rem;
}
.img img {
    height: 240px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}
.icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 1rem;
}
.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9ccb9;
    border-radius: 5px;
    padding: 10px;
}
.icon-box i {
    color: #b26a3d;
    font-size: 30px;
}
.icon-text {
    font-size: 18px;
     color: #b26a3d;
}
/*End what we made section */


/* Choose Section*/
.choose {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
}
.p {
    color: #b26a3d;
    font-size: 15px;
    letter-spacing: 8px;
    text-decoration: overline;
}
.choose h2 {
    font-size: 2rem;
}
.reason-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .reasons {
    display: flex; 
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
} */
.reason {
    text-align: center;
    padding-bottom: 2rem;
}
.R-icon i {
    font-size: 10rem;
    color: #b26a3d;
       background: #e9ccb9;
    border-radius: 4px;
    padding: 20px 30px;
}
.R-text {
    text-align: center;
}

.R-text h4 {
    margin: 0;
    font-size: 16px;
      text-align: center;
}

.R-text p {
    font-size:1rem;
      text-align: center;
}
.R-text li {
    list-style-position: inside;
    list-style-type: circle;
}
/*End Choose Section*/


/* Footer Section */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(32, 32, 32);
    padding: 2rem;

}
.footer p {
    color: #ddd;
    text-align: center;
}
.left h2 {
    color: #ddd;
    font-size: 2rem;
    text-align: center;
    text-shadow:  2px 2px 5px #b26a3d;
}
.left p {
    color: #b26a3d;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    text-decoration: overline;
}
.link {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.link ul {
    display: flex;
    flex-direction: row;
     gap: 10px;
}
.link li {
    display: flex;
    list-style: none;
}
.link li a {
    text-decoration: none;
    color: #ddd;
    transition: .3s;
}
.link li a:hover {
    color: #b26a3d;
}
.right {
    margin-bottom: 1rem;
}
/*End Footer Section */



/* About Section */
.about-container {
    display: flex;
    flex-direction: column;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.6) url(./image/about.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    background-blend-mode: darken;
}
.about h2 {
    color: #ddd;
    font-size: 4rem;
    text-decoration: underline;
}
.who {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.who h2 {
      font-size: 2rem;
      font-weight: 800;
}
.who p {
    text-align: center;
    line-height: 1.8rem;
}
.who-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.who-img img {
    width: 20rem;
    border-radius: 10px;
}
.wedo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}
.wedo h2 {
      font-size: 2rem;
      font-weight: 800;
}
.wedo p {
    text-align: center;
    line-height: 1.8rem;
}
.wedo li {
    text-align: center;
    list-style-position: inside;
    list-style-type: circle;
}
.wedo-img {
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow-y: scroll;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.wedo-img img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}
/* .all-vm {
   display: grid;
   grid-template-columns: 1fr;
} */
.vm h2 {
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 4px 4px #b26a3d;
}
.vm span {
    text-shadow: none;
    font-size: 1.9rem;
    display: block;
    text-decoration-line: underline;
    text-decoration-color: #b26a3d;
    text-decoration-style: wavy;
}
.mission {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: 3rem;
    margin-top:1rem ;
    text-align: center;
    background-color: #b26a3d;
}
.mission-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;  
}
.mission-text {
      
}
/*End About Section*/